database:
  connection: postgres://mg_telegram:mg_telegram@postgres:5432/mg_telegram?sslmode=disable

http_server:
  host: ~
  listen: :3001

sentry_dsn: ~

log_level: 5

debug: false

update_interval: 24

config_aws:
    access_key_id: ~
    secret_access_key: ~
    region: ~
    bucket: ~
    folder_name: ~
    content_type: image/jpeg
